<p>Di seguito, si comunicano le credenziali per effettuare l'accesso alla consultazione di maggior dettaglio della piattaforma WebGIS, accessibile all'indirizzo http://217.199.4.93 </p>
<br>
<p><b>Utente richiedente</b>: {%user.firstname%} {%user.lastname%} </p>
<p><b>Ente, istituzione o società di riferimento</b>: {%user.institution%} </p>
<p><b>Profilazione</b>: {%user.area%} </p>
<br>
<p><b>Nome utente</b>: {%user.username%}</p>
<p><b>Password</b>: {%user.password%}</p>
<br>
<p> Per segnalazioni e/o richieste specifiche, si prega di contattare l'amministratore tecnico del portale: </p>
<em>Aaron Iemma</em> - MuSe Museo delle Scienze, Trento
<a href="mailto:aaron.iemma@muse.it?Subject=Richiesta%20supporto%20WebGIS" target="_top">aaron.iemma@muse.it</a> 
0461 270340