{% extends "base.html" %}

{% block head %}

    <script src="{{ STATIC_URL }}ol_2.12/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}style.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}functions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ext-3.4.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ext-3.4.1/ext-all.js"></script>
<!--     <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/resources/ol/OpenLayers.js'></script> -->
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HS.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/Panel.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/LogicalPanel.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/PhysicalPanel.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/LayerNode.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/TreeLayerNode.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/LayerNodeUI.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/LegendNode.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/FolderNode.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/LayerMenu.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/FolderMenu.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}hslayers-3.5/source/HSLayers/LayerSwitcher/TimeSlider.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext-3.4.1/resources/css/ext-all.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}tablesorter/themes/blue/style.css" />

    <style type="text/css">
      html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
      }
      #map {
	top: 10px;
	width: 50%;
	/*height: 800px;*/
	margin: 0;
	float: left;
      }
      #accordion {
	width: 50%;
	float: right;
      }
      #footer {
	font-size: small;
	text-align: center;
	text-shadow: 1px 1px #ffffff
      }
      #spinner_poi {
	position:absolute;
	z-index:3000;
      }
      #spinner_poly {
	position:absolute;
	z-index:3000;
      }
    </style>
    <script type="text/javascript">
      var map, availableSpecie, availableGenere, stylemap, style_comuni, style_aree, selectControl, infoSpecie = {}, instiSpecie = {}, user_insti, styleColor, nLayers;

      //Creo la mappa e definisco alcuni controlli di base
      function init(){
	user_insti = {{ user.get_profile.institution_id|default:"null" }};
	user_area = {{ user.get_profile.area_id|default:"null" }};
	// dimensioni della pagina
	var pagesize = getPageSize();
	$('#map').css('height', pagesize[3]-110);
	// crea dialogo per la visualizzazione delle informazioni
	$('#infofeat').dialog({
	  autoOpen: false,
	  modal: true,
	  resizable: true,
	  draggable: true,
	  width: 'auto',
	  minWidth: 800,
	  maxWidth: pagesize[2],
	  maxHeight: pagesize[3],
	  //dialogClass: 'no-close'
	  close: function(ev, ui) { selectControl.unselectAll(); }
	});
	$('#infofeat').closest('div.ui-dialog').css('z-index', '3000');
	
	$('#infofeat').bind('dialogopen', function(){
        /* init tabs, when dialog is opened */ 
	$('#datatabs').tabs();
	});
	
	$("#infofeat").bind('dialogclose', function(){
	    $("#datatabs").tabs('destroy'); 
	});
	// crea accordion
	$( "#accordion" ).accordion({collapsible: true, active: false, heightStyle: 'content'});
	$("#accordion").find('h3').filter(':contains(Esporta)').hide();
	$("#progDialog").dialog({
	    height: 100,
	    width:500,
	    modal: true,
	    autoOpen: false
	});
	$('#progDialog').closest('div.ui-dialog').css('z-index', '3000')
	$("#progBar").progressbar({value:false});

	// crea lista per specie
	availableSpecie = new Array();
	// popola la lista della specie
	$.getJSON('/returnlistspecie/', function(data){
	  var length = data.length;
	  for(var j = 0; j < length; j++){
	    availableSpecie.push(data[j].fields.scientificname);
	    if (data[j].fields.vernacularname != null){
	      availableSpecie.push(data[j].fields.vernacularname);
	    }
	  }
	});
	// crea il form con autocompletamento per specie
	$( "#tagspecie" ).autocomplete({
	  source: availableSpecie,
	  // quando selezionato si carica il file
	  select: function( event, ui ) {
	    styleColor = color();
	    polyurl = "/returnpolygonfromspecie/" + ui.item.value
	    $.getJSON("/returninfofromspecie/" + ui.item.value, function(data){
	      infoSpecie[ui.item.value] = data;
	      addLayerFrom(ui.item.value, polyurl, data[0].fields.sensitivity);
	    });
	    $.getJSON("/returnwms/" + ui.item.value, function(data){
	      if (data[0].fields.raster == 1 && user_insti == 5){
		addLayerRaster(ui.item.value, data[0].pk);
	      }
	    });
	    $.getJSON("/returninstifromspecie/" + ui.item.value, function(data){
	      instiSpecie[ui.item.value] = data;
	    });
	    if (user_insti && ! user_area) {
	      layerurl = "/returnkmlfromspecie/" + ui.item.value + "/" + user_insti
	      addLayerFrom(ui.item.value, layerurl, false);
	    } else if (user_insti && user_area) {
	      layerurl = "/returnkmlfromspecie/" + ui.item.value + "/" + user_insti + "/" + user_area
	      addLayerFrom(ui.item.value, layerurl, false);
	    }
	    $('input#tagspecie').val('');
	    return false;
	  }
	});
// 	// crea lista per genere
// 	availableGenere = new Array();
// 	// popola la lista del genere
// 	$.getJSON('/returnlistgenere/', function(data){
// 	  var length = data.length;
// 	  for(var j = 0; j < length; j++){
// 	    availableGenere.push(data[j].fields.genus);
// 	  }
// 	});
// 	// crea il form con autocompletamento per genere
// 	$( "#tagenere" ).autocomplete({
// 	  source: availableGenere,
// 	  select: function( event, ui ) {
// 	    layerurl = "/returnpolygonfromspecie/" + ui.item.value
// 	    addLayerFrom(ui.item.value, layerurl);
// 	    $.getJSON("/returninfofromgenus/" + ui.item.value, function(data){
// 	      infoSpecie[ui.item.value] = data;
// 	    });
// 	    $.getJSON("/returninstifromgenus/" + ui.item.value, function(data){
// 	      instiSpecie[ui.item.value] = data;
// 	    });
// 	    $('input#tagspecie').val('');
// 	    return false;
// 	  }
// 	});
	// inizializza select classe
	$.getJSON('/returnclass/', function(data){
	  var length = data.length;
	  for(var j = 0; j < length; j++){
	    var newOption = $("<option></option>").text(data[j].fields.class_field).val(data[j].fields.class_field);
	    $('#class').append(newOption);
	  }
	});
	// nasty hack
            OpenLayers.ImgPath = "{{ STATIC_URL }}/hslayers-3.5/resources/img/";
            HSLayers.Layer = {};
            HSLayers.Layer.TreeLayer = false;
            HSLayers.Layer.WFS = false;
            HSLayers.Layer.WCS = false;
            layerswitch = new HSLayers.LayerSwitcher({
               physicalPanel: false,
               height: 400,
               renderTo: "layerswitcher"
            });
        map = new OpenLayers.Map("map",{
		controls:[
        	new OpenLayers.Control.Navigation(),
        	new OpenLayers.Control.PanZoomBar(),
//         	new OpenLayers.Control.Permalink(),
        	new OpenLayers.Control.ScaleLine(),
        	new OpenLayers.Control.MousePosition(),
        	new OpenLayers.Control.OverviewMap(),
//         	new OpenLayers.Control.KeyboardDefaults(),
        	new OpenLayers.Control.Attribution(),
        	new OpenLayers.Control.Scale()],
		maxExtent: new OpenLayers.Bounds(1158197.60,5724265.46,1337284.95,5868098.75),
		restrictedExtent: new OpenLayers.Bounds(1158197.60,5724265.46,1337284.95,5868098.75),
		maxResolution: 1565.0399,
		units: "meters",
		projection: new OpenLayers.Projection("EPSG:900913"),
        	displayProjection: new OpenLayers.Projection("EPSG:4326")
	});
	OpenLayers.ProxyHost="http://localhost/cgi-bin/proxy.cgi?url=";
// 	var layerswitch = new OpenLayers.Control.LayerSwitcher({'div':OpenLayers.Util.getElement('layerswitcher')});
// 	map.addControl(layerswitch);
// 	$("#layerswitcher").find(".baseLbl").text("Mappa di base");
// 	$("#layerswitcher").find(".dataLbl").text("Mappe del Progetto LIFE+ T.E.N.");
            
        var mapnik = new OpenLayers.Layer.OSM(
	  "Openstreet Map",
          "http://tile.openstreetmap.org/${z}/${x}/${y}.png",
          {isBaseLayer:true}
        );

        var provincia = new OpenLayers.Layer.Vector("Confine amministrativo provinciale", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Provincia",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: true,
	  path: "Base data",
	  styleMap: style_provi,
        });
        provincia.events.register('loadstart', this, onloadstart_poi);
	provincia.events.register('loadend', this, function(e){
						  $("#spinner_poi").hide();
						});
        var comunita = new OpenLayers.Layer.Vector("Comunità di valle", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Comunita_valle",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_valli
        });
        comunita.events.register('loadstart', this, onloadstart_poi);
	comunita.events.register('loadend', this, function(e){
						  $("#spinner_poi").hide();
						});
        var comuni = new OpenLayers.Layer.Vector("Confini amministrativi comunali", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Comuni",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_comuni
        });
        comuni.events.register('loadstart', this, onloadstart_poi);
	comuni.events.register('loadend', this, function(e){
						  $("#spinner_poi").hide();
						});
        var parchi = new OpenLayers.Layer.Vector("Parchi", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Parchi",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_aree
        });
        parchi.events.register('loadstart', this, onloadstart_poi);
	parchi.events.register('loadend', this, function(e){
							  $("#spinner_poi").hide();
							});

//         var parchi_fluviali = new OpenLayers.Layer.Vector("Parchi fluviali", {
// 	  protocol: new OpenLayers.Protocol.WFS({
// 	    url: "http://77.72.197.182/cgi-bin/lifeten",
// 	    featureType: "Parchi_fluviali",
// 	    srsName: "EPSG:4326",
// 	    version: "1.0.0"
// 	  }),
// 	  projection: map.displayProjection,
// 	  strategies:[new OpenLayers.Strategy.BBOX()],
// 	  visibility: false,
// 	  styleMap: style_aree
//         });
//         parchi_fluviali.events.register('loadstart', this, onloadstart_poi);
// 	parchi_fluviali.events.register('loadend', this, function(e){
// 							  $("#spinner_poi").hide();
// 							});
        var dolomiti = new OpenLayers.Layer.Vector("Dolomiti UNESCO", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Dolomiti_UNESCO",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_dolo
        });
        dolomiti.events.register('loadstart', this, onloadstart_poi);
	dolomiti.events.register('loadend', this, function(e){
							  $("#spinner_poi").hide();
							});
        var riserve = new OpenLayers.Layer.Vector("Reti di riserve", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Riserve",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_riserve
        });
        riserve.events.register('loadstart', this, onloadstart_poi);
	riserve.events.register('loadend', this, function(e){
							  $("#spinner_poi").hide();
							});

        var rete_natura = new OpenLayers.Layer.Vector("Rete Natura 2000", {
	  protocol: new OpenLayers.Protocol.WFS({
	    url: "http://77.72.197.182/cgi-bin/lifeten",
	    featureType: "Rete_NATURA_2000",
	    srsName: "EPSG:4326",
	    version: "1.0.0"
	  }),
	  projection: map.displayProjection,
	  strategies:[new OpenLayers.Strategy.BBOX()],
	  visibility: false,
	  path: "Base data",
	  styleMap: style_rete
        });
        rete_natura.events.register('loadstart', this, onloadstart_poi);
	rete_natura.events.register('loadend', this, function(e){
							  $("#spinner_poi").hide();
							});

        map.addLayers([mapnik, provincia, comuni, comunita, parchi, rete_natura, dolomiti, riserve]);
        layerswitch.setMap(map);
	if (sessvars.area_global != null){
	  bound = OpenLayers.Bounds.fromString(sessvars.area_global);
	  map.zoomToExtent(bound);
	} else {
	  //Centro la mappa sull'extent definito in precedenza
	  map.zoomToExtent(map.maxExtent);
	}
	//create select control for all layers
	selectControl = new OpenLayers.Control.SelectFeature(
	  [],
	  {
	    clickout: true, toggle: true,
	    multiple: false, hover: false
	  }
	);
	map.addControl(selectControl);
	$('#spinner_poi').css('top', pagesize[3]/2);
	$('#spinner_poi').css('left', pagesize[2]/4);
	$('#spinner_poi').append('<img src="{{ STATIC_URL }}spinner.gif" alt="Loading" />');
	$('#spinner_poi').hide();
	$('#spinner_poly').css('top', pagesize[3]/2);
	$('#spinner_poly').css('left', pagesize[2]/4);
	$('#spinner_poly').append('<img src="{{ STATIC_URL }}spinner.gif" alt="Loading" />');
	$('#spinner_poly').hide();
	$('#layerswitcher').append('<br /><div id="removelayer" class="right"> <select id="remove" onchange="javascript:removeLayer();"><option value="" selected="selected">Rimuovi un layer</option></select></div>');
	$('#logofooter img').each(function(index) {
	  $(this).css('width', pagesize[2]/10);
	});
	sessvars.$.clearMem();
	nLayers = map.layers.length
     }
     </script>
{% endblock %}

{% block content %}
  <body onload="init()">
  <table width="100%" height="90%">
    <tr>
      <td>
	<div id="header">LIFE+ T.E.N. WebGIS</div>
	<div id="map">
	  <div id="spinner_poi"></div>
	  <div id="spinner_poly"></div>
	</div>
	<div id="accordion">
	  <h3>Elenco mappe</h3>
	  <div id="layerswitcher"></div>
	  <h3>Selezione ad albero</h3>
	  <div id="classe">
	    <table>
	      <tr>
		<td>
		  <b>Seleziona la classe</b>:
		</td>
		<td>
		  <form> 
		    <select id="class" onchange='javascript:ordo();'>
		      <option value="default" selected="selected">Seleziona una classe</option>
		    </select>
		  </form>
		</td>
	      </tr>
	    </table>
	  </div>

	  <h3>Selezione tramite specie</h3>
	  <div id="tabspecie" class="ui-widget">
	    <label for="tagspecie">Seleziona specie: </label>
	    <input id="tagspecie" />
	  </div>
<!--
	  <h3>Selezione tramite genere</h3>
	  <div id="tabgenere" class="ui-widget">
	    <label for="tagenere">Seleziona genere: </label>
	    <input id="tagenere" />
	  </div>-->
	  
	  <h3>Esporta</h3>
	  <div id="export">
	    <table>
	      <tr>
		<td>
		  <b>Seleziona il layer</b>:
		</td>
		<td>
		  <form> 
		    <select id="export_layer">
		    </select>
		  </form>
		</td>
	      </tr>
	      <tr>
		<td>
		  <b>Seleziona il formato</b>:
		</td>
		<td>
		  <form> 
		    <select id="export_format">
		      <option value="KML" selected="selected">KML</option>
		      <option value="ESRI Shapefile">ESRI Shapefile</option>
		      <option value="GeoJSON">GeoJSON</option>
		      <option value="GML">GML</option>
		    </select>
		  </form>
		</td>
	      </tr>
	      <tr class="right">
		<td colspan="2">
		  <a href="javascript:exportGeo()" class="button">Richiedi dati</a>
		</td>
	      </tr>
	    </table>	  
	  </div>

	</div>

	<div id="infofeat" title="Informazioni elementi selezionati">
	  <div id="datatabs">
	    <ul>
	      <li><a href="#datafeat">Informazione elementi</a></li>
	      <li><a href="#dataspecie">Informazione specie</a></li>
	      <li><a href="#datainstitution">Informazione istituzioni</a></li>
	    </ul>
	    <div id="datafeat"></div>
	    <div id="dataspecie"></div>
	    <div id="datainstitution"></div>
	  </div>
	</div>
      </td>
    </tr>
  </table>
{% endblock %}
{% block link %}
    <td class='right'><a href="/lifeten" class='button small'>Homepage</a></td><td class='right'><a href="/viewdata" class='button small'>Dati</a></td><td class='right'><a href="/viewspecie" class='button small'>Specie</a><td class='right'><a href="/credits" class='button small'>About</a></td>
{% endblock %}
